.loader_container {
  display: grid;
  width: 100%;
}

.loader {
  animation: rotate 5s linear infinite;
  width: 50%;
  margin: auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}