.new_post {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.new_post_text {
  height: 120px;
  width: 100%;
  align-self: center;
  font-size: 1.1em;
  background-color: #38373A;
  color: #ffffff;
  border: solid 1px #0073DE;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.error_msg {
  color: red;
}

.new_post_submit {
  display: block;
  align-self: flex-end;
  margin: 10px;
  background-color: #27262A;
  border: solid 1px #5588EB;
  color: #2898FF;
  font-size: 1.1em;
  border-radius: 5px;
  transition: all .5s ease-out;
}

.new_post_submit:hover {
  cursor: pointer;
  background-color: #000000;
  border: solid 1px #0073DE;
}