.new_post {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.new_post_text {
  height: 120px;
  width: 100%;
  align-self: center;
  font-size: 1.1em;
  background-color: #38373A;
  color: #ffffff;
  border: solid 1px #0073DE;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.new_post_submit {
  align-self: flex-end;
}