.message {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px 10px 20px auto;
}

.message_text {
  height: 50px;
  width: 100%;
  align-self: center;
  font-size: 1.1em;
  background-color: #38373A;
  color: #ffffff;
  border: solid 1px #0073DE;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.send_message {
  align-self: flex-end;
}