.login_form {
  color: #0073DE;
}

.login_form div {
  margin: 10px;
}

.login_form label:after {
  content: " ";
}

.login_form input {
  background-color: #38373A;
  color: #ffffff;
  border: solid 1px #0073DE;
  border-radius: 5px;
}

.error_msg {
  color: red;
}

.login_btn {

}